.bg{
    /* border: 5px solid black; */
    height: 100vh;
    background-image: url(https://data.whicdn.com/images/308248727/original.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.main{
    /* border: 5px solid white; */
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.contentBox{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    margin-top: 4rem;   
}
.upperhalf{
    /* border: 2px solid yellow; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
/* .upleft{
    border: 2px solid yellow;
} */
.city{
    /* border: 2px solid black; */
    font-size: 4rem;
    width: max-content;
}
.date{
    /* border: 2px solid black; */
    font-size: 1.5rem;
    width: fit-content;
}
.weather{
    /* border: 2px solid black; */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.weather img{
    height: 12rem;
}
.upright{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currTemp{
    display: flex;
    /* border: 2px solid black; */
}
.currTemp span{
    /* border: 2px solid white; */
    font-size: 13rem;
    height: 12rem;
}
.min{
    color: aqua;
}
.minmax{
    /* border: 2px solid black; */
    width: fit-content;
    font-size: 3.5rem;
}
.description{
    margin-top: 1rem;
    /* border: 2px solid white; */
    font-size: 2rem;
}
.lowerhalf{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    align-items: center;
    margin-top: 1rem;
}
.lowerhalf div{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}
.lowerhalf span{
    margin-left: 0.5rem;
    font-size: 1.3rem;
}
@media screen and (max-width: 1190px) {
    .currTemp span{
        font-size: 10rem;
    }
}
@media screen and (max-width: 840px) and (orientation: portrait) {
    .upperhalf{
        margin: 0;
        flex-direction: column;
    }
    .upleft{
        /* border: 2px solid yelslow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .currTemp span{
        height: min-content;
        font-size: 8vh;
    }
    .minmax{
        font-size: 3vh;
    }
    .lowerhalf{
        padding: 0;
        margin: 0;
        flex-direction: column;
        width: min-content;
        justify-self: center;
        align-self: center;
    }
    .lowerhalf div{
        width: max-content;
        margin-bottom: 1vh;
    }
    .description{
        margin-bottom: 1.5vh;
    }
    .description, .date, .weather, .lowerhalf span, .lowerhalf h3{
        font-size: 2.5vh;
    }
    .city{
        font-size: 7vh;
    }
    .weather{
        flex-direction: row;
        width: max-content;
    }
    .weather img{
        height: 20vh;
    }
}
@media screen and (max-width: 830px) and (orientation: landscape) {
    .currTemp span{
        height: min-content;
        font-size: 13vh;
    }
    .minmax{
        font-size: 6vh;
    }
    .description, .date, .weather, .lowerhalf span, .lowerhalf h3{
        font-size: 4vh;
    }
    .city{
        font-size: 10vh;
    }
    .weather img{
        height: 30vh;
    }

}