*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Harry Potter', sans-serif;                                 
}
.nav{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    /* padding-top: 0.5rem; */
    position: fixed;
    z-index: 10;
    color: white;
    width: 100vw;
    height: 4rem;
}
.left{
    height: 100%;
    /* border: 2px solid red; */
    align-items: flex-end;
    justify-items: center;
    display: flex;
}
.logoCont{
    /* border: 2px solid black; */
    display: flex;
    font-size: 2.2rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
}
.appName{
    margin: 0;
    padding: 0;
    align-self: flex-end;
    font-size: 1.8rem;
    /* border: 2px solid black; */
}
.right{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    height: 100%;
    /* border: 2px solid red; */
    margin-right: 1rem;
    height: fit-content;
}
.right input{
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    border: none;
    height: 2.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.right button{
    height: 2.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.radioCont{
    display: flex;
}
.right label{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.inpCont{
    display: flex;
}
@media screen and (max-width: 825px) and (orientation: portrait) {
    .nav{
        height: fit-content;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2vh;
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
        margin: 0;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 1.2vh;
    }
    .logoCont{
        margin: 0;
        font-size: 3vh;
    }
    .appName{
        margin-left: 0.8vh;
        font-size: 3vh;
    }
    .right input{
        padding: 0;
        font-size: 1.5vh;
        padding-left: 1vh;
        height: 4.3vh;
        border-radius: 0.2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .right button{
        height: 4.3vh;
        font-size: 1.8vh;
    }
    .radioCont label{
        font-size: 1.5vh;
    }
    .inpCont{
        margin-right: 2vh;
    }
}
@media screen and (max-width: 830px) and (orientation: landscape) {
    .left{
        height: fit-content;
    }
    .logoCont{
        font-size: 4vh;
    }
    .appName{
        font-size: 5vh;
    }
    .right input{
        height: 8vh;
        font-size: 3vh;
    }
    .right button{
        height: 8vh;
        font-size: 3vh;
    }
    .radioCont label{
        font-size: 3vh;
    }
}